.spinner {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}

.bubble1,
.bubble2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #4b9cdb;
}

.bubble2 {
  top: auto;
  bottom: 0;
}

.spinner {
  animation: loadingI 2s linear infinite;
}
.bubble-1,
.bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}
.bubble-2 {
  animation-delay: -1s;
}
